.sectionTwo-wrapper{
    padding: 60px 0;

}
.two-titles{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
}
.two-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
}
.two-text{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 11px;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    margin-bottom: 33px;
    color: #FB8F1D;
    cursor: pointer;
     &:hover{
        transform: scale(1.1);
        color: #7b8281;
    }
}
.span{
    font-size: 18px;
    display: flex;
    align-items: center;
    &:hover{
        transform: scale(1.2);
        color: #7b8281;
    }
    
}
.two-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.two-item{
     max-width: 100%;
     position: relative;
     &:hover{
        transform: scale(0.8);
     }

}
.two-rasm{
    max-width: 100%;
    border-radius: 12px;
    z-index: 1;
}
.two-spans{
    position: absolute;
    max-width:140px;
    padding: 2px;
    height: 56px;
    background: #FFFFFF;
    border-top-right-radius: 6px;
    z-index: 2;
    left:0.1%;
    bottom: 0%;
}
.span-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #042521;
}
.two-span{
    max-width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #7b8281;
}
