*{
    margin:  0 ;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}
.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    border: 4px solid red;
}
.hero-wrapper{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 60px 0;
}
.hero-left{
 max-width: 45%;
}
.hero-title{
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 70px;
    color: #202336;
}
.hero-right{
 max-width: 55%;
}
.hero-rasm{
    width: 98%;
}