.sectionFour-wrapper{
    padding: 60px 0;
}
.four-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 40px;
    color: #000000;
}
.four-cards{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.four-left{
    max-width: 50%;
    margin-top: 130px;
    display: flex;
    align-items: start;
    flex-direction: column;
}
.four-icons{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}
.icon{
    font-size: 35px;
    color: #FFBB0C;
    &:hover{
        transform: scale(1.2);
    }
}
.four-text{
    max-width: 450px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 40px;
    color: #000000;
}
.four-new{
    max-width: 183px;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    color: #000000; 
   
}
.four-circel{
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    color: #000000D9; 
}
.four-right{
    max-width: 50%;
    position: relative;
}
.four-img{
    max-width: 100%;
    border-radius: 12px;
    z-index: 3;
    position: relative;
}
.four-spans{
    position: relative;
}
.span-rasm{
  position: absolute;
  left: -15px;
  z-index: 2;

}
.four-spane{
    position: absolute;
    padding: 12px;
    z-index: 4;
    left: -120px;
    bottom: 0px;
    right: 0px;
    max-width: 132px;
    background: #FFFFFF;
    border-top-left-radius: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.span-rasm1{
    width: 40%;
}
.span-rasm2{
    width: 40%;
}
