.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

}
.header-list{
    display: flex;
    align-items: center;
    gap: 34px;
}
.header-item{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #202336;
}
.header-item:hover {
    color: #e67e17;
}

.Explorer_logo{
    width: 150px;
    height: auto;
}
.header-btns{
   display: flex;
   align-items: center;
   gap: 18px;
}
.header-btn {
    width: 132px; 
    height: 44px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    background: #FB8F1D;
    color: #ffffff; 
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0; 
}
.header-btn:hover {
   border: 1px solid #e67e17;
   background: none;
    border-color: #e67e17;
    box-shadow: 0 4px 10px rgba(251, 143, 29, 0.3);
    transform: scale(1.1);
    color: #e67e17;
}
