.sectionOne-wrapper{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 40px 0;
}
.one-left{
    max-width: 55%;
}
.one-rasm{
    max-width: 98%;
}
.one-right{
    max-width: 45%;
    margin-top: 100px;
    display: flex;
    align-items: start;
    flex-direction: column;
}
.one-title{
    max-width: 480px;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 20px;
    color: #000000;
}
.one-text{
    max-width: 400px;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 33px;
    color: #7D7987;
}
.one-btn{
     width: 132px; 
    height: 44px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    background: #FB8F1D;
    color: #ffffff; 
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        border: 1px solid #e67e17;
        border-color: #e67e17;
        box-shadow: 0 4px 10px rgba(251, 143, 29, 0.3);
        transform: scale(1.1);
    }
}
